.main-content-background {
    width: 100vw;
    overflow-x: hidden;
    background-color: #F5F5F7;
    min-height: 100%;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    padding-bottom: 40px;
    display: flex;
    flex-direction: column;
    isolation: isolate;
}

.main-content {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 0 0;
    position: relative;
    z-index: 1;
} 